{{#each posts as |post| }}
<div class="row align-center">
  <div>
    <h2>{{{get_emoji}}} {{post.title}}</h2>
  </div>
  <div>
    <p>{{post.body}} {{logged_in}}</p>
  </div>
  <div>
    <h7>By: {{post.user.name}} @ {{post.createdAt}}</a>
      {{{ifEquals post.user_id ../current_user post.id}}}
    </h7>
  </div>
</div>
{{/each}}